<body>
  <aside> </aside>


  <main style="margin: 0px; padding: 10px; ">

    <!-- <app-grid3 style="place-content: center; "></app-grid3> -->
    <!-- <app-grid-primeng></app-grid-primeng> -->
    <!-- <app-grid3></app-grid3> -->
    

    <mdb-carousel  [interval]="1500">
      <!--First slide-->
      <mdb-slide>
        <div style="text-align: center; padding: 2em;">
          <h3 class="animated {{value}} "> <strong> Hello </strong></h3> 
      </div>  
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <div style="text-align: center; padding: 2em;">
          <h3 class="animated pulse" > <strong> Salut </strong></h3> 
      </div>  
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <div style="text-align: center; padding: 2em;">
          <h3 class="animated pulse"> <strong> Welcome </strong></h3> 
      </div>  
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>

  </main>


  <footer>
    <app-carousel></app-carousel>
  </footer>
</body>