<body>
  <aside> </aside>


  <main style="margin: 0px; padding: 10px; ">
      
      <!-- <app-grid3 style="place-content: center; "></app-grid3> -->
      <!-- <app-grid-primeng></app-grid-primeng> -->
      <!-- <app-grid3></app-grid3> -->
      <div class="demo-1">
          <h3>Lorem ipsum...</h3>
         
      </div>
      <ng-marquee  >
          <mark>Hello, World....</mark>
          <mark> Bonjour </mark>
      </ng-marquee>
      <marquee behavior="alternate"><div> Scrolling Slide Text </div> 
      <div>Bonjour :) !! </div>

      
      </marquee>
  </main>


  <footer>
      <app-carousel></app-carousel>
  </footer>
</body>