.grid-container {
    display: grid;
    grid: 150px / auto auto ;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .nested{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:1fr 1fr;
    grid-gap:2em;
    object-fit: fill;
     object-position: center;
   
    
    
    /* place-content: center;
     justify-content: center;  */
  }

  .nested > div{
    border:#333 1px solid;
    padding:1em;
    object-position: center;
    object-fit: fill;
  }