<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-grid></app-grid>
<app-grid2></app-grid2> -->
<!-- <app-grid3></app-grid3> -->
<!-- <app-my-bar-chart></app-my-bar-chart> -->


<body>
    <aside> <app-my-bar-chart></app-my-bar-chart></aside>


    <main style="margin: 0px; padding: 10px; ">
        <!-- <app-grid3 style="place-content: center; "></app-grid3> -->
        <!-- <app-grid-primeng></app-grid-primeng> -->
        <app-grid3></app-grid3>
    </main>


    <footer>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit vel quod pariatur eligendi doloribus eius
        illum ab, corporis facilis eveniet quos veritatis impedit ratione odio eos sequi possimus consectetur
        perferendis!

    </footer>
</body>