<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-grid></app-grid>
<app-grid2></app-grid2> -->
<!-- <app-grid3></app-grid3> -->
<!-- <app-my-bar-chart></app-my-bar-chart> -->


<body>
    <aside> </aside>

    <main style="margin: 0px; padding: 10px; ">
        <!-- <app-grid3 style="place-content: center; "></app-grid3> -->
        <app-grid-primeng></app-grid-primeng>
    </main>

    <footer> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit vel quod pariatur eligendi doloribus eius
        illum ab, corporis facilis eveniet quos veritatis impedit ratione odio eos sequi possimus consectetur
        perferendis!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis at ipsum, amet quia eius porro explicabo
        recusandae temporibus modi! Molestias earum distinctio libero, ratione suscipit fugit accusantium eum veritatis
        voluptatum! Molestias obcaecati a at repellendus sapiente consequatur deleniti nam, architecto quisquam,
        temporibus velit blanditiis aut tempora facilis! Tempore laborum maxime asperiores, sunt, nulla, magnam ipsum
        quas reiciendis maiores esse eveniet rerum harum? Quia ut sequi non est, mollitia placeat explicabo vitae
        provident unde assumenda dolores. Quod deleniti laborum tenetur velit veritatis dicta laboriosam. Doloribus
        rerum odit voluptatem cupiditate dolores iusto? Asperiores, voluptatem. Voluptate architecto veniam beatae odio
        obcaecati sapiente quidem accusamus corrupti at dolores facilis voluptates blanditiis omnis aliquid porro
        perspiciatis consequatur voluptatem a quos tempore, quaerat culpa sed fugit nisi. Quam ducimus dicta repudiandae
        velit quia illo magni officia omnis eveniet ad atque iste, placeat accusamus dolore blanditiis tempora animi.
        Animi quos officia, nemo quibusdam quisquam sed aspernatur esse!
    </footer>
</body>