
<div class="container color-dark">
  <div class="col">
    <p>Ajouter un Message</p>
  </div>
  <div class="col">
    <p>Vos Messages ({{messageCount}})</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm"> Ajouter votre message à diffuser ici: </p>

    <form>
      <input type="text" class="txtt" name="item" placeholder="Message..."  [(ngModel)]="messageText" >
      <br><span>{{ messageText }}</span><br>

      <input type="submit" class="btnn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="message-container" *ngFor="let message of messages">
      {{ message }}
    </p>
   
  </div>
   <div > 
    <a href="" (click)="sendMeHome()" ><strong> Retourner à l'afficheur </strong></a>
</div>

<h1 class="animated infinite bounce">Example</h1>

</div>