
<div class="container color-dark">
  <div class="col">
    <p>Ajouter un Message</p>
  </div>
  <div class="col">
    <p>Vos Messages</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm">Ajouter votre message à diffuser ici: </p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Message..">
      <input type="submit" class="btn" value="Ajouter">
    </form>
  </div>
  <div class="col">
    <p class="message-container">
      Bonjour tt le monde !
    </p>
   
  </div>
   <div > 
    <a href="" (click)="sendMeHome()" class="animated infinite bounce"><strong> Retourner à l'afficheur </strong></a>
</div>

<h1 class="animated infinite bounce">Example</h1>

</div>